@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 24px;
    }


    .cont
    {
        padding: 0 20px;
    }


    .block
    {
        margin-bottom: 52px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        font-size: 16px;
    }


    .page_head .btns
    {
        top: 100%;
        right: 0;
        bottom: auto;
        left: 0;

        width: 244px;
        margin: 0 auto;
        margin-top: 32px;
    }

    .page_head .btns .btn
    {
        height: 56px;
    }

    .page_head .btns .btn + .btn
    {
        margin-top: 12px;
        margin-left: 0;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .title
    {
        font-size: 24px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item
    {
        padding: 19px 12px 33px;

        border-radius: 10px;
    }


    .advantages .item .name
    {
        font-size: 15px;
    }


    .advantages .item .desc
    {
        font-size: 10px;

        margin-top: 16px;
    }

    .advantages .item .desc br
    {
        display: none;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head .company
    {
        font-size: 24px;
    }


    .about_info .head .video_link
    {
        margin-top: 28px;
    }


    .about_info .head .video_link a
    {
        font-size: 14px;
    }


    .about_info .head .video_link .icon
    {
        width: 52px;
        height: 52px;
        margin-left: 12px;
    }

    .about_info .head .video_link .icon svg
    {
        width: 16px;
        height: 16px;
    }


    .about_info .head .data
    {
        margin-top: 28px;
    }


    .about_info .head .link
    {
        margin-top: 28px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .category
    {
        font-size: 12px;

        border-radius: 5px;
    }


    .categories .category .name
    {
        padding: 0 15px;
    }


    .categories .all_link
    {
        font-size: 14px;
    }

    .categories .all_link .name
    {
        top: 20px;

        padding: 0 15px;
    }



    /*----------------
        Price list
    ----------------*/
    .price_list
    {
        padding: 52px 0 41px;
    }


    .price_list .title
    {
        font-size: 32px;
    }


    .price_list .desc
    {
        font-size: 16px;
    }


    .price_list .download .btn
    {
        font-size: 15px;
    }

    .price_list .download .type
    {
        font-size: 15px;

        top: 19px;
    }



    /*----------------
        About data
    ----------------*/
    .about_data .block_title
    {
        font-size: 26px;

        margin-bottom: 32px;
    }


    .about_data .stats .label,
    .about_data .stats .val
    {
        font-size: 16px;
    }



    /*---------------
        Production
    ---------------*/
    .production
    {
        padding: 52px 0;
    }


    .production .block_title
    {
        font-size: 24px;
    }


    .production .image
    {
        height: 360px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        padding: 52px 0 88px;
    }



    /*-------------
        Clients
    -------------*/
    .clients
    {
        padding: 52px 0;
    }



    /*--------------
        About_us
    --------------*/
    .about_us .history
    {
        margin-top: 52px;
    }



    .about_us .slogan
    {
        margin-top: 52px;
    }



    .about_us .why
    {
        margin-top: 52px;
    }


    .about_us .why .items > *
    {
        padding-top: 16px;
    }

    .about_us .why .items > * + *
    {
        margin-top: 16px;
    }



    /*-------------------
        Work about us
    -------------------*/
    .work_about_us
    {
        padding: 200px 0 40px;
    }


    .work_about_us .stats .item .val
    {
        font-size: 24px;
    }


    .work_about_us .row
    {
        padding-top: 20px;
    }



    /*------------------------
        Working conditions
    ------------------------*/
    .working_conditions .block_head
    {
        display: none;
    }


    .working_conditions .item
    {
        text-align: center;
    }


    .working_conditions .item .icon
    {
        width: 44px;
        height: 44px;
        margin: 0 auto 12px;
    }


    .working_conditions .item .name
    {
        font-size: 12px;
    }


    .working_conditions .item .desc
    {
        font-size: 12px;

        margin-top: 12px;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery
    {
        padding-top: 52px;
    }


    .gallery .block_head
    {
        margin-bottom: 28px;
    }



    /*-------------
        Manager
    -------------*/
    .manager .item + .item
    {
        margin-top: 16px;
    }
}
