@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 40px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .cont
    {
        padding: 0 24px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        margin-bottom: 64px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item + .accordion_item
    {
        margin-top: 24px;
    }


    .accordion_item .head
    {
        padding-bottom: 24px;
    }


    .accordion_item .head .title
    {
        font-size: 19px;
    }


    .accordion_item .data
    {
        padding: 24px 0 0;
    }



    /*------------
        Header
    ------------*/
    header .download_price
    {
        right: 24px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .title
    {
        font-size: 56px;

        width: 100%;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 16px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data
    {
        width: 800px;
    }


    .first_section .title
    {
        font-size: 56px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .row
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .advantages .row > *
    {
        width: calc(20% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .advantages .item .name
    {
        font-size: 20px;
    }


    .advantages .item .desc
    {
        font-size: 14px;
    }


    .advantages .item .arrow
    {
        width: 22px;
        height: 31px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head .col_left
    {
        width: calc(50% - 24px);
        padding-right: 60px;
    }


    .about_info .head .company
    {
        font-size: 22px;
    }


    .about_info .head .video_link
    {
        margin-top: 80px;
    }


    .about_info .head .video_link a
    {
        font-size: 18px;
    }


    .about_info .head .video_link .icon
    {
        width: 100px;
        height: 100px;
    }


    .about_info .head .data
    {
        width: calc(50% - 24px);
        margin-left: 24px;
    }


    .about_info .head .link
    {
        margin-top: 48px;
    }


    .about_info .head .link a
    {
        padding: 24px 60px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .category
    {
        font-size: 17px;
    }


    .categories .category .name
    {
        top: 24px;

        padding: 0 24px;
    }



    .categories .all_link
    {
        font-size: 22px;
    }


    .categories .all_link .name
    {
        top: 24px;

        padding: 0 24px;
    }


    .categories .download_price .btn
    {
        width: 100px;
        height: 100px;
        padding: 10px;
    }



    /*----------------
        Price list
    ----------------*/
    .price_list .title
    {
        font-size: 72px;

        margin-bottom: 20px;
    }


    .price_list .desc
    {
        font-size: 24px;
    }


    .price_list .download .btn
    {
        font-size: 22px;

        width: 280px;
        height: 280px;
        padding: 28px;
    }


    .price_list .download .type
    {
        font-size: 40px;

        top: 28px;
        left: 28px;
    }



    /*----------------
        About data
    ----------------*/
    .about_data .block_title
    {
        font-size: 40px;

        width: 320px;
        margin-bottom: 40px;
    }


    .about_data .stats .label,
    .about_data .stats .val
    {
        font-size: 24px;
    }


    .about_data .stats .item + .item
    {
        margin-top: 24px;
        padding-top: 24px;
    }


    .about_data .stats .link
    {
        bottom: 54px;
        left: 100px;

        width: 320px;
        padding: 0 48px;
    }



    /*---------------
        Production
    ---------------*/
    .production .data
    {
        width: 480px;
    }


    .production .block_title
    {
        font-size: 40px;
    }


    .production .desc
    {
        margin-top: 40px;
    }


    .production .link
    {
        margin-top: 48px;
    }


    .production .stats
    {
        font-size: 24px;

        width: 320px;
    }


    .production .stats > * + *
    {
        margin-top: 40px;
    }


    .production .stats .item:before
    {
        top: 5px;
    }


    .production .image
    {
        margin-right: -860px;
    }



    /*-------------------------
        Facilities delivery
    -------------------------*/
    .facilities_delivery .block_head
    {
        margin-bottom: 40px;
    }


    .facilities_delivery .info
    {
        width: 100%;
        margin-bottom: 48px;
    }


    .facilities_delivery .link
    {
        margin-top: 40px;
    }


    .facilities_delivery .accordion
    {
        width: 100%;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .block_head
    {
        margin-bottom: 40px;
    }


    .FAQ .accordion_item .data
    {
        padding: 24px 0 12px;
    }


    .FAQ .text_block
    {
        font-size: 20px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .block_head
    {
        margin-bottom: 48px;
    }


    .reviews .block_head .title
    {
        margin-bottom: 32px;
    }


    .reviews .block_head .desc
    {
        width: 280px;
    }


    .reviews .review
    {
        padding: 23px;
    }


    .reviews .review .date
    {
        margin-bottom: 40px;
    }


    .reviews .review .company
    {
        font-size: 19px;

        margin-bottom: 24px;
    }


    .reviews .review .link
    {
        margin-top: 28px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .logos .item
    {
        height: 92px;
    }



    /*---------------------
        Production info
    ---------------------*/
    .production_info .row > *
    {
        padding-top: 48px;
        padding-right: 40px;
        padding-bottom: 24px;
    }

    .production_info .row > * + *
    {
        padding-right: 0;
        padding-left: 40px;
    }


    .production_info .desc
    {
        font-size: 16px;
    }



    /*----------------------
        Production steps
    ----------------------*/
    .production_steps .step .head .number
    {
        font-size: 80px;

        width: 80px;
    }


    .production_steps .step .head .desc_spoler_btn
    {
        top: 60px;
    }


    .production_steps .step .head .desc
    {
        margin-left: 344px;
    }


    .production_steps .step .swiper
    {
        padding-bottom: 40px;
    }


    .production_steps .step .item .thumb
    {
        padding-bottom: 68%;
    }



    /*---------------------------
        Production advantages
    ---------------------------*/
    .production_advantages .lines
    {
        margin-bottom: 100px;
    }


    .production_advantages .lines:before
    {
        height: 80px;
    }


    .production_advantages .row
    {
        margin-bottom: -40px;
        margin-left: -40px;
    }

    .production_advantages .row > *
    {
        width: calc(50% - 40px);
        margin-bottom: 40px;
        margin-left: 40px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 80px 0;
    }


    .action_block .info
    {
        width: 440px;
    }


    .action_block .desc
    {
        font-size: 21px;

        margin-top: 36px;
    }


    .action_block .btn
    {
        width: 280px;
        height: 60px;
        margin-left: 80px;
    }



    /*--------------
        About_us
    --------------*/
    .about_us .row > *
    {
        padding-top: 40px;
        padding-right: 40px;
        padding-bottom: 24px;
    }

    .about_us .row > * + *
    {
        padding-right: 0;
        padding-left: 40px;
    }


    .about_us .desc
    {
        font-size: 16px;
    }



    .about_us .history .swiper-slide
    {
        width: 440px;
    }


    .about_us .history .item .thumb
    {
        margin-bottom: 32px;
    }


    .about_us .history .item .desc
    {
        font-size: 16px;

        width: calc(100% - 120px);
    }



    .about_us .slogan
    {
        font-size: 24px;

        margin-top: 80px;
    }



    .about_us .why
    {
        margin-top: 68px;
    }


    .about_us .why .image
    {
        width: 400px;
        min-height: 600px;
    }


    .about_us .why .data
    {
        width: calc(100% - 440px);
        padding-top: 0;
    }


    .about_us .why .title
    {
        margin-bottom: 32px;
    }


    .about_us .why .items > *
    {
        font-size: 16px;
    }



    /*-------------------
        Work about us
    -------------------*/
    .work_about_us .stats
    {
        margin-left: -60px;
    }

    .work_about_us .stats .item,
    .work_about_us .stats .item + .item
    {
        width: calc(33.333% - 60px);
        margin-left: 60px;
    }



    /*------------------------
        Working conditions
    ------------------------*/
    .working_conditions .block_head
    {
        margin-bottom: 48px;
    }


    .working_conditions .row
    {
        margin-left: -40px;
    }


    .working_conditions .sep
    {
        display: none;
    }


    .working_conditions .item
    {
        width: calc(25% - 40px);
        margin-left: 40px;
        padding-top: 0;
        padding-bottom: 40px;
    }


    .working_conditions .item .icon
    {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }


    .working_conditions .item .name
    {
        font-size: 18px;
    }


    .working_conditions .item .desc
    {
        font-size: var(--font_size);
    }



    /*-------------
        Gallery
    -------------*/
    .gallery
    {
        padding-top: 60px;
    }


    .gallery .block_head
    {
        margin-bottom: 40px;
    }



    /*-------------
        Manager
    -------------*/
    .manager .photo
    {
        width: 280px;
        height: 360px;
    }


    .manager .post
    {
        margin-bottom: 24px;
    }


    .manager .item + .item
    {
        margin-top: 20px;
    }


    .manager .item .label
    {
        margin-bottom: 0;
    }


    .manager .item .val
    {
        font-size: 16px;
    }

    .manager .item .val.name
    {
        font-size: 20px;
    }


    .manager .questionnaire
    {
        width: 280px;
    }


    .manager .questionnaire .btn
    {
        height: 64px;
    }


    .manager .questionnaire .exp
    {
        margin-top: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer .callback_btn
    {
        margin-right: 0;
    }


    footer .links
    {
        display: none;
    }



    /*-----------
        PopUp
    -----------*/
    #search_modal form .input
    {
        width: calc(100% - 180px);
        height: 56px;
    }


    #search_modal form .submit_btn
    {
        width: 160px;
        height: 56px;
    }

    #search_modal form .submit_btn .icon
    {
        margin-right: 16px;
    }
}
