@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 36px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        width: 40px;
        height: 24px;
        margin-bottom: 55px;
    }


    .swiper-button-prev
    {
        right: 300px;
    }

    .swiper-button-next
    {
        right: 232px;
    }

    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 40px;
        height: 24px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        font-size: 18px;
    }


    .accordion_item .head .icon
    {
        width: 22px;
        height: 31px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 48px;
    }


    .page_head .cont
    {
        height: 650px;
        min-height: 650px;
    }


    .page_head .btns
    {
        bottom: -26px;
    }

    .page_head .btns .btn
    {
        height: 52px;
    }

    .page_head .btns .btn + .btn
    {
        margin-left: 32px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .link a
    {
        padding: 20px 48px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: var(--font-size);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        height: 650px;
        min-height: 650px;
    }


    .first_section .data
    {
        width: 100%;
    }


    .first_section .title
    {
        font-size: 48px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .advantages .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head:before
    {
        width: calc(100% - 48px);
    }


    .about_info .head .col_left
    {
        padding-right: 40px;
    }


    .about_info .head .data
    {
        width: calc(50% - 16px);
        margin-left: auto;
    }


    .about_info .head .company
    {
        font-size: 20px;
    }


    .about_info .head .video_link
    {
        margin-top: 68px;
    }


    .about_info .head .video_link a
    {
        font-size: 16px;
    }


    .about_info .head .video_link .icon
    {
        width: 88px;
        height: 88px;
    }


    .about_info .head .link
    {
        margin-top: 40px;
    }


    .about_info .head .link a
    {
        padding: 20px 48px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories
    {
        padding: 24px 0;
    }


    .categories .row > *
    {
        width: calc(33.333% - 20px);
    }


    .categories .all_link
    {
        font-size: 20px;
    }



    /*----------------
        Price list
    ----------------*/
    .price_list
    {
        padding: 68px 0 40px;
    }


    .price_list .title
    {
        font-size: 60px;
    }


    .price_list .desc
    {
        font-size: 22px;
    }


    .price_list .download .btn
    {
        font-size: 20px;

        width: 240px;
        height: 240px;
        padding: 20px;
    }

    .price_list .download .btn:before
    {
        top: 20px;
        right: 20px;

        width: 24px;
        height: 24px;
    }


    .price_list .download .type
    {
        font-size: 36px;

        top: 24px;
        left: 20px;
    }



    /*----------------
        About data
    ----------------*/
    .about_data .images
    {
        width: calc(50% - 20px);
    }


    .about_data .data
    {
        width: calc(50% - 20px);
    }


    .about_data .block_title
    {
        font-size: 36px;

        width: 100%;
        margin-bottom: 32px;
    }


    .about_data .stats
    {
        margin-top: 24px;
    }


    .about_data .stats .label,
    .about_data .stats .val
    {
        font-size: 22px;

        width: calc(50% - 20px);
    }


    .about_data .stats .link
    {
        bottom: 54px;
        left: 40px;

        width: 300px;
        padding: 0 40px;
    }


    .about_data .stats .link a
    {
        padding: 20px;
    }



    /*---------------
        Production
    ---------------*/
    .production
    {
        padding: 68px 0;
    }


    .production .data
    {
        width: 420px;
    }


    .production .block_title
    {
        font-size: 36px;
    }


    .production .desc
    {
        margin-top: 32px;
    }


    .production .link
    {
        margin-top: 40px;
    }

    .production .link a
    {
        padding: 20px 48px;
    }


    .production .stats
    {
        font-size: 20px;

        width: 188px;
    }

    .production .stats .item:before
    {
        top: 4px;

        width: 6px;
        height: 6px;
        margin-right: 12px;
    }


    .production .image
    {
        margin-right: -912px;
    }



    /*-------------------------
        Facilities delivery
    -------------------------*/
    .facilities_delivery .block_head
    {
        margin-bottom: 32px;
    }


    .facilities_delivery .link
    {
        margin-top: 32px;
    }


    .facilities_delivery .link a
    {
        padding: 20px 48px;
    }



    /*---------
        Map
    ---------*/
    #map
    {
        height: 650px;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .text_block
    {
        font-size: 18px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        padding: 68px 0;
    }


    .reviews .block_head
    {
        margin-bottom: 40px;
    }


    .reviews .block_head .title
    {
        margin-bottom: 24px;
    }


    .reviews .block_head .desc
    {
        width: 240px;
    }


    .reviews .block_head .link a
    {
        padding: 19px 47px;
    }


    .reviews .review .date
    {
        margin-bottom: 32px;
    }


    .reviews .review .company
    {
        font-size: 18px;

        margin-bottom: 20px;
    }


    .reviews .review .link
    {
        margin-top: 24px;
    }



    /*-------------
        Clients
    -------------*/
    .clients
    {
        padding: 68px 0;
    }


    .clients .link
    {
        width: 100%;
        margin-top: 40px;

        text-align: center;

        order: 2;
    }

    .clients .link a
    {
        padding: 20px 48px;
    }


    .clients .logos
    {
        width: 100%;
    }



    /*---------------------
        Production info
    ---------------------*/
    .production_info .row > *
    {
        width: 100%;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;

        border: none;
    }

    .production_info .row > * + *
    {
        margin-top: 24px;
        padding-right: 0;
        padding-left: 0;
    }


    .production_info .desc
    {
        font-size: var(--font_size);
    }



    /*----------------------
        Production steps
    ----------------------*/
    .production_steps .step .head .number
    {
        font-size: 60px;

        width: 60px;
    }


    .production_steps .step .head .name
    {
        font-size: 16px;

        width: 220px;
    }


    .production_steps .step .head .desc_spoler_btn
    {
        top: 48px;
    }


    .production_steps .step .head .desc
    {
        margin-top: 10px;
        margin-left: 60px;
    }


    .production_steps .step .item .thumb
    {
        padding-bottom: 52.941%;
    }


    .production_steps .step .item .desc
    {
        color: #262626;

        position: relative;

        margin-top: 16px;
        padding: 0;
    }



    /*---------------------------
        Production advantages
    ---------------------------*/
    .production_advantages .lines
    {
        margin-bottom: 80px;
    }


    .production_advantages .lines:before
    {
        height: 60px;
    }


    .production_advantages .item .desc
    {
        font-size: var(--font_size);
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 68px 0;
    }


    .action_block .info
    {
        width: 400px;
    }


    .action_block .desc
    {
        font-size: 18px;

        margin-top: 24px;
    }


    .action_block .btn
    {
        width: 240px;
        height: 56px;
        margin-left: auto;
    }



    /*--------------
        About_us
    --------------*/
    .about_us .row > *
    {
        width: 100%;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;

        border: none;
    }

    .about_us .row > * + *
    {
        margin-top: 24px;
        padding-right: 0;
        padding-left: 0;
    }


    .about_us .desc
    {
        font-size: var(--font_size);
    }



    .about_us .history
    {
        margin-top: 80px;
    }


    .about_us .history .swiper-slide
    {
        width: 400px;
    }


    .about_us .history .item .thumb
    {
        margin-bottom: 24px;
    }


    .about_us .history .item .desc
    {
        font-size: var(--font_size);

        width: 100%;
        margin-top: 12px;
    }



    .about_us .slogan
    {
        font-size: 22px;

        margin-top: 68px;
    }



    .about_us .why .image
    {
        display: none;
    }


    .about_us .why .data
    {
        width: 100%;
    }


    .about_us .why .items > *
    {
        font-size: var(--font_size);
    }



    /*-------------------
        Work about us
    -------------------*/
    .work_about_us
    {
        padding: 72px 0 48px;
    }


    .work_about_us .stats
    {
        margin-left: -40px;
    }

    .work_about_us .stats .item,
    .work_about_us .stats .item + .item
    {
        width: calc(33.333% - 40px);
        margin-left: 40px;
    }


    .work_about_us .row
    {
        padding-top: 32px;

        border-top: 2px solid #0e3443;
    }



    /*------------------------
        Working conditions
    ------------------------*/
    .working_conditions
    {
        padding-top: 68px;
    }


    .working_conditions .block_head
    {
        margin-bottom: 40px;
    }


    .working_conditions .item
    {
        width: calc(50% - 40px);
        max-width: 100%;
        margin-left: 40px;
        padding-top: 0;
        padding-bottom: 40px;
    }


    .working_conditions .item .icon
    {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery .swiper-button-next,
    .gallery .swiper-button-prev
    {
        margin-top: 20px;
    }



    /*-------------
        Manager
    -------------*/
    .manager
    {
        padding: 42px 0 44px;
    }


    .manager .photo
    {
        width: 244px;
        height: 244px;

        border-radius: 10px;
    }

    .manager .photo img
    {
        object-position: 50% 0;
    }


    .manager .data
    {
        width: calc(100% - 300px);
    }


    .manager .post
    {
        display: none;
    }


    .manager .questionnaire
    {
        width: 300px;
        margin: 32px auto 0;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .block_head
    {
        margin-bottom: 40px;
    }


    .vacancies .accordion_item .head .title
    {
        font-size: 20px;
    }


    .vacancies .accordion_item .head .desc
    {
        font-size: 13px;
    }


    .vacancies .accordion_item .head .salary
    {
        font-size: 20px;

        right: 48px;
    }


    .vacancies .accordion_item .head .icon
    {
        width: 18px;
        height: 30px;
    }


    .vacancies .data > * + *
    {
        margin-top: 24px;
    }


    .vacancies .data .item li:before
    {
        top: 6px;
    }


    .vacancies .data .item .label
    {
        margin-bottom: 16px;
    }


    .vacancies .all_link
    {
        margin-top: 40px;
    }


    .vacancies .all_link a
    {
        line-height: 60px;

        width: 224px;
        height: 60px;
    }



    /*------------
        Footer
    ------------*/
    footer .callback_btn
    {
        padding: 19px 39px;
    }



    /*-----------
        PopUp
    -----------*/
    #search_modal form .input
    {
        font-size: 16px;

        padding: 0 32px;
    }
}
