@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 30px;
    }


    .block
    {
        margin-bottom: 60px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        top: 100%;

        width: 36px;
        height: 21px;
        margin-top: 112px;
        margin-bottom: 0;
    }


    .swiper-button-prev
    {
        right: auto;
        left: 50%;

        margin-left: -50px;
    }

    .swiper-button-next
    {
        right: 50%;

        margin-right: -50px;
    }

    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 36px;
        height: 21px;
    }


    .overlay
    {
        background: rgba(38, 38, 38, .81);
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        font-size: 17px;
    }


    .accordion_item .head .icon
    {
        width: 20px;
        height: 27px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 22px 0;
    }


    header .logo img
    {
        display: none;
    }

    header .logo img.mob
    {
        display: block;
    }


    header .contacts,
    header .download_price
    {
        display: none;
    }


    header .search .btn
    {
        width: 41px;
        height: 41px;

        border: 1px solid;
        border-radius: 50%;
    }


    header .links
    {
        margin-left: 18px;
    }


    header .links a
    {
        font-size: 12px;
        line-height: 9px;

        padding: 15px 21px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
    }


    .page_head .cont
    {
        height: 438px;
        min-height: 438px;
        padding-bottom: 29px;
    }


    .page_head .title
    {
        font-size: 32px;
    }


    .page_head .btns
    {
        bottom: -24px;
    }

    .page_head .btns .btn
    {
        height: 48px;
    }

    .page_head .btns .btn + .btn
    {
        margin-left: 20px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .link
    {
        display: none;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .line
    {
        margin-bottom: 15px;
    }


    .form .label
    {
        height: 40px;
        padding: 0 21px;
    }


    .form .input
    {
        height: 40px;
        padding: 0 20px;
    }


    .form .agree
    {
        margin-top: 24px;
    }


    .form .submit
    {
        padding-top: 24px;

        order: 3;
        justify-content: center;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        height: 640px;
        min-height: 640px;
        padding-bottom: 29px;
    }


    .first_section .title
    {
        font-size: 32px;
    }


    .first_section .download
    {
        display: block;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        padding: 22px 0 35px;
    }

    .advantages:before
    {
        display: none;
    }


    .advantages .row > *
    {
        width: calc(50% - 20px);
    }


    .advantages .item
    {
        padding: 40px 16px 28px;
    }


    .advantages .item .name
    {
        font-size: 18px;
    }


    .advantages .item .desc
    {
        font-size: 12px;

        margin-top: 20px;
    }


    .advantages .item .arrow
    {
        display: none;
    }


    .advantages .item .btn
    {
        display: flex;
    }


    .advantages .item:hover
    {
        position: relative;
        top: 0;
    }

    .advantages .item:hover:before
    {
        width: 100%;

        box-shadow: none;
    }

    .advantages .item:hover .exp
    {
        display: none;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head:before
    {
        height: 2px;
    }


    .about_info .head .col_left
    {
        width: 100%;
        padding: 40px 0 0;

        border: none;
    }


    .about_info .head .company
    {
        font-size: 18px;
    }


    .about_info .head .video_link
    {
        margin-top: 40px;
    }


    .about_info .head .video_link a
    {
        font-size: 15px;
    }


    .about_info .head .video_link .icon
    {
        width: 64px;
        height: 64px;
    }

    .about_info .head .video_link .icon svg
    {
        width: 19px;
        height: 19px;
    }


    .about_info .head .data
    {
        width: 100%;
        margin-top: 40px;
        padding: 0 0 40px;
    }


    .about_info .head .link
    {
        margin-top: 32px;

        text-align: center;
    }

    .about_info .head .link a
    {
        padding: 22px 52px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories
    {
        padding-bottom: 40px;
    }


    .categories .row > *
    {
        width: calc(50% - 20px);
    }


    .categories .category
    {
        font-size: 16px;
    }


    .categories .category .name
    {
        top: 20px;

        padding: 0 20px;
    }


    .categories .all_link
    {
        font-size: 18px;
    }


    .categories .all_link .name
    {
        top: 24px;

        padding: 0 20px;
    }


    .categories .download_price
    {
        display: none;
    }

    .categories .mob_download
    {
        display: block;
    }



    /*----------------
        Price list
    ----------------*/
    .price_list
    {
        padding: 76px 0 46px;
    }


    .price_list .title
    {
        font-size: 40px;
    }


    .price_list .desc
    {
        font-size: 18px;
    }


    .price_list .download
    {
        width: 100%;
        margin-top: 95px;
    }


    .price_list .download .btn:before
    {
        display: none;
    }


    .price_list .download .btn
    {
        font-size: 16px;
        line-height: 13px;

        width: 100%;
        height: auto;
        padding: 19px 38px;

        border-width: 3px;
        border-radius: 10px;
    }

    .price_list .download .btn br
    {
        display: none;
    }

    .price_list .download .type
    {
        font-size: 16px;

        top: 18px;
        right: 38px;
        left: auto;

        display: block;
    }



    /*----------------
        About data
    ----------------*/
    .about_data .images
    {
        display: none;
    }


    .about_data .data
    {
        width: 100%;
    }


    .about_data .block_title
    {
        font-size: 30px;

        margin-bottom: 36px;
    }


    .about_data .stats
    {
        margin-top: 30px;
    }


    .about_data .stats .item + .item
    {
        margin-top: 20px;
        padding-top: 22px;
    }


    .about_data .stats .label,
    .about_data .stats .val
    {
        font-size: 19px;

        width: 100%;
    }


    .about_data .stats .link
    {
        position: relative;
        bottom: 0;
        left: 0;

        width: 100%;
        margin-top: 34px;
        padding: 0;

        background: none;
    }

    .about_data .stats .link a
    {
        display: inline-block;

        padding: 22px 47px;

        vertical-align: top;
    }



    /*---------------
        Production
    ---------------*/
    .production
    {
        padding: 60px 0;
    }


    .production .data
    {
        width: 100%;
    }


    .production .block_title
    {
        font-size: 30px;
    }


    .production .desc
    {
        margin-top: 35px;
    }


    .production .link
    {
        margin-top: 32px;

        text-align: center;
    }

    .production .link a
    {
        padding: 22px 55px;
    }


    .production .stats
    {
        font-size: 24px;

        width: 100%;
        margin-top: 88px;
        padding-left: 30px;
    }


    .production .stats .item:before
    {
        top: 5px;

        width: 10px;
        height: 10px;
        margin-right: 20px;
    }


    .production .image
    {
        top: auto;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 368px;
        margin: 0;
    }



    /*-------------------------
        Facilities delivery
    -------------------------*/
    .facilities_delivery .link
    {
        text-align: center;
    }

    .facilities_delivery .link a
    {
        padding: 22px 55px;
    }


    .facilities_delivery .case
    {
        font-size: 16px;
    }


    .facilities_delivery .case .name
    {
        width: 100%;
        padding-top: 0;
    }


    .facilities_delivery .case img
    {
        width: 100%;
        margin-top: 20px;
    }



    /*---------
        Map
    ---------*/
    #map
    {
        height: 534px;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .accordion_item .head .title
    {
        width: calc(100% - 48px);

        text-align: left;
    }


    .FAQ .accordion_item .data
    {
        padding: 20px 0 8px;
    }


    .FAQ .text_block
    {
        font-size: var(--font_size);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        padding: 60px 0 92px;
    }


    .reviews .block_head
    {
        margin-bottom: 32px;
    }


    .reviews .block_head .desc
    {
        width: 100%;
    }



    .reviews .swiper-slide
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }


    .reviews .review .company
    {
        font-size: 24px;

        margin-bottom: 24px;
    }

    .reviews .review .company  br
    {
        display: none;
    }


    .reviews .mob_link
    {
        display: block;
    }



    /*-------------
        Clients
    -------------*/
    .clients
    {
        padding: 68px 0;
    }


    .clients .block_head
    {
        margin-bottom: 36px;
    }


    .clients .logos .row > *
    {
        width: calc(50% - 20px);
    }


    .clients .link a
    {
        padding: 22px 55px;
    }




    /*----------------------
        Production steps
    ----------------------*/
    .production_steps .step + .step
    {
        margin-top: 40px;
    }


    .production_steps .step .head
    {
        padding-top: 20px;
        padding-bottom: 28px;

        border-top: 2px solid #0e3443;
    }


    .production_steps .step .head .number
    {
        font-size: 40px;

        width: 40px;
    }


    .production_steps .step .head .name
    {
        font-size: 16px;

        width: calc(100% - 40px);
        padding-right: 60px;
    }

    .production_steps .step .head .name:after
    {
        display: none;
    }


    .production_steps .step .head .desc_spoler_btn
    {
        top: 20px;
    }


    .production_steps .step .head .desc
    {
        margin-top: 16px;
        margin-left: 40px;
    }


    .production_steps .step .swiper-button-next,
    .production_steps .step .swiper-button-prev
    {
        top: auto;
        bottom: 0;

        margin: 0;
    }

    .production_steps .step .swiper-button-prev
    {
        left: 50%;

        margin-left: -48px;
    }

    .production_steps .step .swiper-button-next
    {
        right: 50%;

        margin-right: -48px;
    }



    /*---------------------------
        Production advantages
    ---------------------------*/
    .production_advantages .lines
    {
        display: none;
    }


    .production_advantages .row
    {
        margin-top: 40px;
        margin-left: 0;
    }

    .production_advantages .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .production_advantages .item
    {
        text-align: center;
    }


    .production_advantages .item .desc > *
    {
        padding: 0;
    }

    .production_advantages .item .desc > *:before
    {
        display: none;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 60px 0;
    }


    .action_block .info
    {
        width: 100%;

        text-align: center;
    }


    .action_block .desc
    {
        font-size: 20px;
        font-weight: 700;
        line-height: 117.5%;

        margin-top: 40px;
    }


    .action_block .btn
    {
        width: 236px;
        height: 64px;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }



    /*--------------
        About_us
    --------------*/
    .about_us .history
    {
        margin-top: 60px;
    }


    .about_us .history .swiper
    {
        padding-bottom: 32px;
    }

    .about_us .history .swiper-slide
    {
        width: 308px;
    }


    .about_us .history .swiper-button-next,
    .about_us .history .swiper-button-prev
    {
        margin-bottom: 0;
    }

    .about_us .history .swiper-button-prev
    {
        left: 50%;

        margin-left: -48px;
    }

    .about_us .history .swiper-button-next
    {
        right: 50%;

        margin-right: -48px;
    }


    .about_us .history .item .thumb
    {
        margin-bottom: 20px;
    }



    .about_us .slogan
    {
        font-size: 20px;

        margin-top: 60px;
    }



    .about_us .why
    {
        margin-top: 60px;
    }



    /*-------------------
        Work about us
    -------------------*/
    .work_about_us
    {
        padding: 60px 0 40px;
    }


    .work_about_us .stats
    {
        margin-left: 0;
    }


    .work_about_us .stats .item,
    .work_about_us .stats .item + .item
    {
        width: 100%;
        margin-left: 0;
    }

    .work_about_us .stats .item + .item
    {
        margin-top: 24px;
    }


    .work_about_us .stats .item .val
    {
        font-size: 36px;

        margin-bottom: 4px;
    }


    .work_about_us .row
    {
        padding-top: 28px;
    }



    /*------------------------
        Working conditions
    ------------------------*/
    .working_conditions
    {
        padding-top: 60px;
    }


    .working_conditions .block_head
    {
        margin-bottom: 32px;
    }


    .working_conditions .row
    {
        margin-left: -24px;
    }


    .working_conditions .item
    {
        width: calc(50% - 24px);
        margin-left: 24px;
    }


    .working_conditions .item .icon
    {
        width: 52px;
        height: 52px;
    }


    .working_conditions .item .name
    {
        font-size: 16px;
    }


    .working_conditions .item .desc
    {
        margin-top: 16px;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery .swiper-slide
    {
        width: 255px;
    }


    .gallery .swiper-button-next,
    .gallery .swiper-button-prev
    {
        top: 100%;
        bottom: auto;
    }

    .gallery .swiper-button-prev
    {
        left: 50%;

        margin-left: -48px;
    }

    .gallery .swiper-button-next
    {
        right: 50%;

        margin-right: -48px;
    }



    /*-------------
        Manager
    -------------*/
    .manager .photo
    {
        margin: 0 auto 28px;
    }


    .manager .data
    {
        width: 100%;
    }


    .manager .questionnaire
    {
        width: 100%;
    }


    .manager .questionnaire .btn
    {
        width: 244px;
        height: 60px;
        margin-right: auto;
        margin-left: auto;
    }


    .manager .questionnaire .exp
    {
        margin-top: 20px;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .accordion_item .head .title
    {
        font-size: 18px;

        width: calc(100% - 48px);
    }


    .vacancies .accordion_item .head .desc
    {
        font-size: 12px;

        width: calc(100% - 100px);
    }


    .vacancies .accordion_item .head .salary
    {
        font-size: 18px;

        top: auto;
        right: 0;
        bottom: 20px;

        transform: none;
    }


    .vacancies .accordion_item .head .icon
    {
        top: -2px;

        width: 14px;
        height: 20px;
        margin: 0;
    }


    .vacancies .all_link a
    {
        line-height: 56px;

        width: 212px;
        height: 56px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 34px;

        text-align: center;
    }


    footer .cont
    {
        flex-direction: column;
    }

    footer .cont + .cont
    {
        margin-top: 66px;
    }



    footer .logo
    {
        width: 100%;
    }

    footer .logo img
    {
        margin-right: auto;
        margin-left: auto;
    }



    footer .contacts
    {
        font-size: 16px;

        width: 100%;
        margin-top: 31px;
    }



    footer .links,
    footer .links + .links
    {
        display: block;

        width: 100%;
        margin-top: 60px;
        margin-left: 0;
    }



    footer .callback_btn
    {
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;
        padding: 21px 54px;

        order: 3;
    }



    footer .copyright
    {
        width: 100%;
        margin-top: 32px;

        order: 2;
    }



    footer .privacy_police_link
    {
        width: 100%;
    }



    /*-----------
        PopUp
    -----------*/
    #search_modal
    {
        padding: 0;
    }


    #search_modal .top
    {
        display: flex;
    }


    #search_modal form
    {
        padding: 12px 0;
    }


    #search_modal form .input
    {
        font-size: 12px;

        width: calc(100% - 51px);
        height: 39px;
        padding: 0 22px;
    }


    #search_modal form .submit_btn
    {
        width: 39px;
        height: 39px;
    }

    #search_modal form .submit_btn .icon
    {
        margin: 0;
    }

    #search_modal form .submit_btn span
    {
        display: none;
    }



    .custom_modal
    {
        right: 100%;
        left: auto;

        width: 340px;
    }

    .custom_modal.show
    {
        transform: translateX(100%);
    }


    .custom_modal .head
    {
        display: block;
    }


    .custom_modal .close_btn
    {
        top: 0;
        right: 0;

        width: 55px;
        height: 50px;
    }


    .custom_modal .scroll
    {
        padding: 106px 24px 48px;
    }


    .custom_modal .modal_title
    {
        font-size: 20px;
    }


    .custom_modal .modal_desc
    {
        margin-top: 16px;
    }


    .custom_modal .form
    {
        margin-top: 36px;
    }
}
